body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 1em;
}

.header-title {
    flex: 0 0 auto;
}

.header-title h3 {
    margin: 0;
    color: #333;
}

nav {
    flex: 2;
}

.nav-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 1em;
}

.nav-list li {
    position: relative; /* Added to handle the dropdown positioning */
    margin: 0 1em;
}

.nav-list li a {
    color: #333;
    text-decoration: none;
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    border: none;
    padding: 0;
}

.dropdown-content a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    border: none;
    margin: 0;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

main {
    padding: 1em;
    padding-bottom: 60px;
    text-align: center;
}

footer {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
}


.no-marker {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* To ensure uniform link colours */
a:link, a:visited {
    color: #007BFF;
    text-decoration: none;
}

a:hover, a:active {
    color: #0056b3;
    text-decoration: underline;
}

/* Add styles for floating images with captions */
.course-image-container {
    float: left;
    width: 20%; /* Adjust as needed to fit your layout */
    margin: 10px;
    text-align: center;
}

.course-image-container img {
    width: 100%; /* Restricts the image width to the container width */
    height: auto;
    max-width: 200px; /* Sets a maximum width for the images */
    border-radius: 8px;
    background-color: #f4f4f4;
}

.course-image-container a {
    color: #007BFF; /* Adjust link color */
    text-decoration: none;
    display: block;
    margin-top: 5px;
}

.course-image-container a:hover {
    color: #0056b3; /* Adjust hover color */
    text-decoration: underline;
}

.sql_A {
    text-align: left;
}

.sql_B {
    text-align: left;
}

.sql_materials {
    text-align: left;
}